body{
 margin: 0;
}
.wrapper{
 width: 100%;
 height: 100vh;
 margin: 0 auto;
}
ul.container{
 height: 100%;
 align-items: flex-start;
 display: flex;
 flex-direction: row;
 gap: 8px;
 flex-wrap: wrap;
 background-color:lightcyan;
 list-style-type: none;
}
li.child{
 width: 150px;
 height: 150px;
 background: coral;
}
h2{
 text-align: center;
 font-size: 2rem;
 color: whitesmoke;
 height: 100%;
}
a{
 display: block;
 height: 100%;
 width: 100%;
 &:hover{
  background-color: lightcoral;
 }
}