/* Typography imported from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro:200,400');

@layer defaults {
 * {
  margin: 0;
  padding: 0;
  line-height: 1.4;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
  font-family: 'Playfair Display', serif;
 }

 p,
 a {
  font-family: sans-serif;
 }

 /* Generic styles */
 html {
  scroll-behavior: smooth;
 }
}

a {
 background-color: goldenrod;
 text-decoration: none;
 color: white;
 border-radius: .25rem;
 text-align: center;
 display: inline-block;
 transition: all .3s;
}

a:hover {
 opacity: .6;
}

/* Styles for the hero image */
.hero {
 /* Photo by mnm.all on Unsplash */
 background: url('https://images.unsplash.com/photo-1518176258769-f227c798150e') center;
 background-size: cover;
 padding: 4rem 2rem;
 /* grid styles */
 display: grid;
/* 
  Cette propriété CSS définit la structure des colonnes pour un conteneur de GRID.
  - 'repeat(auto-fit, minmax(240px, 1fr))' : 
    - 'repeat' : Une fonction qui répète la définition des colonnes.
    - 'auto-fit' : Ajuste automatiquement autant de colonnes que possible dans le conteneur.
    - 'minmax(240px, 1fr)' : Définit une largeur minimale de 240px pour chaque colonne et leur permet de s'étendre jusqu'à un maximum de 1 fraction de l'espace disponible.
*/
 grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
 align-items: center;
 min-height: 100svh;
}

.hero>* {
 color: white;
}

.hero>h1 {
 font-size: 4rem;
 padding-bottom: 1rem;
}

.hero>article>p {
 font-size: 1.5rem;
 font-weight: 200;
}

.hero>article>a {
 padding: 1rem;
 margin-top: .75rem;
}

@layer breweries {

 /* breweries styles */
 .breweries {
  padding: 2rem;
  min-height: 100dvh;
 }

 .breweries>ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
 }

 .breweries>ul>li {
  border: 1px solid #E2E2E2;
  border-radius: .5rem;
 }

 .breweries>ul>li>figure {
  max-height: 220px;
  overflow: hidden;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  position: relative;
 }

 .breweries>ul>li>figure>img {
  width: 100%;
 }

 .breweries>ul>li>figure>figcaption {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7);
  width: 100%;
 }

 .breweries>ul>li>figure>figcaption>h3 {
  color: white;
  padding: .75rem;
  font-size: 1.25rem;
 }

 .breweries>ul>li>p {
  font-size: 1rem;
  line-height: 1.5;
  padding: 1rem .75rem;
  color: #666666;
 }

 .breweries>ul>li>a {
  padding: .5rem 1rem;
  margin: .5rem;
 }
}

/* footer */
footer {
 background-color: #333;
 padding: .75rem;
 color: white;
 text-align: center;
 font-size: .75rem;
}