/* 
* Style pour les image => img.html
*/
img{
 width: 100%;
 height: auto;
}
.rounded img{
		border-radius:50%;
    width: 25%;
}

/* design stuff
------------------ */
body{
  /* font family pour appliquer une ou des polices a l'html */
  font-family:  Helvetica, sans-serif;
  /* interlignage, hauteur entre chaque ligne  */
  line-height: 1.4;
  /* margin: 0 auto; => centrer  */
  margin: 0 auto;
  width: 80%;
/* shift + cmd + / => commentaire */
}
h1,h2,h3{
font-family:Georgia, 'Times New Roman', Times, serif ;
color: white;
}
strong, b{
  color: blue
}
.maclass{
  color: red;
  background-color: lightseagreen;
  border: 4px solid black;
  border-radius: 15px;
  margin-bottom: 16px;
  font-size: 16px;
}
.toto{
  font-style: italic;
}